#mocha {
    position: relative;
    border: solid 0.1vw;
    width: 90%;
    bottom: 0;
    /* margin-bottom: 0; */
}

#mocha-stats{
    position: absolute;
}

body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#info{
    border: 0.4vh solid #000000;
    padding: 3vh;
    background-color: #EEEEEE;
    font-weight: bold;
    color: #AA5555;
}
